alf_data_dev
solr/solr_home

profiles.xml
context.xml

nbactions.xml
nb-configuration.xml
rebel.xml

.metadata
.project
.settings
.classpath

.bpmn
target
nbproject


*.log
*.log.*

alfresco-dev.properties

temp
